
<% var customUrl = config.custom[post.customtype] %>
<% var customType = post.customtype %>
<div id="custom-content" data-heft='<%- customUrl %>'>
    hello,这里是电影模版呀。。
</div>

<script>
    console.log(123);
</script>